RewriteEngine On
RewriteBase /

# Falls der Pfad eine reale Datei oder ein realer Ordner ist, direkt ausliefern
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Alle anderen Pfade ohne Ausnahme intern an die index.php übergeben
RewriteRule ^(.*)$ index.php [L,QSA]
